:root {
  --dark-blue: #29579d;
  --light-blue: #8aaccf;
  --green: #74a892;
  --white: #fff;
  --black: #000;
  --font-small: 0.8rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
}

@font-face {
  font-family: "Cinzel";
  src: url("fonts/Cinzel-Regular.otf") format("opentype");
}

body {
  font-family: "Cinzel", serif;
  background-color: #fbf2c4;
  color: #382400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header,
.header p {
  text-align: center;
  padding: 20px;
  color: var(--black);
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
}

.header h1 {
  font-size: 2rem;
  color: var(--green);
}

hr {
  border: none;
  border-top: 3px solid var(--green);
  border-radius: 9px;
}

.affirmation-header {
  text-align: center;
  padding: 10px;
  color: var(--white);
  font-size: 2.3rem;
  line-height: 1.5;
  background-color: var(--light-blue);
  border-radius: 12px;
  width: 90%;
  margin: auto;
}

#timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#timer {
  font-size: 3rem;
  color: var(--green);
}

#affirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 20vh;
  background-color: var(--light-blue);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-top: 20px;
  margin: 20px auto;
}

#affirmation-display {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

#section-name {
  font-size: 0.8rem;
  text-align: center;
  color: #555;
  text-transform: uppercase;
}
#meridian-point {
  font-size: 0.8rem;
  text-align: center;
  color: #555;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.3rem;
  width: 100%;
}

button:hover {
  background-color: var(--light-blue);
}
.footer {
  text-align: center;
  font-family: "Cinzel", serif;
}
.footer p {
  font-size: 0.7rem;
}
.link {
  color: var(--green);
  text-decoration: none;
}

#affirmation-container.breathe {
  animation: breathe 15s ease-in-out 1;
}

@keyframes breathe {
  0%,
  100% {
    background-color: var(--white);
  }
  46.6% {
    background-color: var(--green);
  }
}

@keyframes backgroundFade {
  0% {
    background-color: var(--light-blue);
  }
  100% {
    background-color: var(--dark-blue);
  }
}
