extends layout

block content
  div.center-container
    h1 Hello, #{user.username}
    h2.form-heading Affirmation Setup

    // Check if affirmations exist
    if user.affirmations && user.affirmations.length > 0
      ul.affirmation-list
        each affirmation in user.affirmations
          li= affirmation
    else
      p.prompt You have no affirmations. Would you like to #[a(href="/enter-affirmations") enter some]?

  