extends layout

block content
  div(id="landing-page")
    div(class="header")
      h1 Emotional Freedom Journey
      hr
      p Emotional Freedom Techniques (EFT) Tapping is a self-help method designed to help manage stress, anxiety, and emotional imbalances. It combines elements of cognitive therapy with acupressure to provide a holistic approach to emotional well-being. By tapping on specific points on the body while focusing on particular thoughts and emotions, you can work on releasing energy blockages and restoring your mind's balance.
      hr
      div(class="control-container")
        a(href="/login")
          button(id="login-button") Login
        a(href="/signup")
          button(id="signup-button") Sign Up

  div(class="footer")
    h3 made with #[span(class="red-heart") &#9829;] by #[a(href="https://github.com/abutler911/eft-tapping-app", target="_blank", class="link") andrew]
    p In association with Mr. Gray Enterprises, Inc.
