extends layout

block content
  div(class="center-container")
    h2(class="form-heading") Emotional Freedom Journey
    h3(class="form-subheading") Sign Up
    form(action="/signup" method="POST" class="signup-form")
      label(for="username" class="form-label") Username:
      input(type="text" id="username" name="username" required class="form-input")
      br
      br

      label(for="email" class="form-label") Email:
      input(type="email" id="email" name="email" required class="form-input")
      br
      br

      label(for="password" class="form-label") Password:
      input(type="password" id="password" name="password" required class="form-input")
      br
      br

      input(type="submit" value="Register" class="submit-button")
