.flash-success {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 1em;
  border-radius: 4px;
  width: 80%;
  text-align: center;
}

.flash-error {
  background-color: #f2dede;
  color: #a94442;
  padding: 1em;
  border-radius: 4px;
  width: 80%;
  text-align: center;
}
