.flash-success {
  background-color: rgba(152, 255, 176, 0.7);
  border-color: #c3e6cb;
  color: #00811e;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 7px;
  font-size: 1.5rem;
  text-align: center;
}

.flash-error {
  background-color: rgba(255, 126, 137, 0.7);
  border-color: #f5c6cb;
  color: #a00a19;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 7px;
  font-size: 1.5rem;
  text-align: center;
}
