.footer {
  margin-top: auto;
  text-align: center;
  font-family: "Cinzel", serif;
}

.footer h3 {
  font-size: 1rem;
}

.footer h3 > a {
  color: var(--green);
  font-weight: 700;
  text-decoration: underline;
}

.footer-tagline {
  font-family: "Cinzel", serif;
  font-size: 0.5rem;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.red-heart {
  color: red;
  font-size: 1rem;
  animation: heartbeat 1s ease-in-out infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
