.footer {
  margin-top: auto;
  text-align: center;
  font-family: "Cinzel", serif;
}

.footer h3 {
  font-size: 1rem;
}

.footer h3 > a {
  color: var(--green);
  font-weight: 700;
  text-decoration: underline;
}

.red-heart {
  color: red;
}

.footer-tagline {
  font-family: "Cinzel", serif;
  font-size: 0.5rem;
}
