/* styles.css */
@import "variables.css";
@import "base.css";
@import "header.css";
@import "main-container.css";
@import "footer.css";
@import "form.css";
@import "responsive.css";
@import "misc.css";
@import "flash-messages.css";
@import "buttons.css";

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/cinzel/Cinzel-Regular.otf") format("opentype");
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header,
.card-footer {
  background-color: #f8f9fa;
}
