:root {
  --dark-blue: #29579d;
  --light-blue: #8aaccf;
  --green: #74a892;
  --white: #fff;
  --black: #000;
  --font-small: 0.8rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
}

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/cinzel/Cinzel-Regular.otf") format("opentype");
}

body {
  font-family: "Cinzel", serif;
  background-color: #fbf2c4;
  color: #382400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header,
.header p {
  text-align: center;
  padding: 20px;
  color: var(--black);
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
}

.header h1 {
  font-size: 2rem;
  color: var(--green);
}

hr {
  border: none;
  border-top: 3px solid var(--green);
  border-radius: 9px;
}
/* Container for dropdown and button */
.control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for button */
#start-button {
  margin-top: 30px; /* Add some margin for spacing */
}
.label {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.tip {
  font-size: 0.7rem;
}
/* Style the dropdown */
#duration {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: auto;
}

/* Style dropdown options */
#duration option {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* Add hover effect */
#duration:hover {
  background-color: var(--dark-blue);
}

/* Add focus effect */
#duration:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
}

.affirmation-header {
  text-align: center;
  padding: 10px;
  color: var(--white);
  font-size: 2.3rem;
  line-height: 1.5;
  background: radial-gradient(circle at center, #74a892, rgb(0, 0, 0));
  border-radius: 12px;
  width: 90%;
  margin: auto;
}

#timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#timer {
  font-size: 3rem;
  color: var(--green);
}

#affirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 20vh;
  background-color: var(--light-blue);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-top: 20px;
  margin: 20px auto;
}

#affirmation-display {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

#section-name {
  font-size: 0.8rem;
  text-align: center;
  color: #555;
  text-transform: uppercase;
}
#meridian-point {
  font-size: 0.8rem;
  text-align: center;
  color: #555;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  justify-content: center;
}
.fixed-width-button {
  width: 10rem;
}

/* Form styling */

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.form-heading {
  font-size: 2em;
  text-align: center;
  color: var(--green);
}

.form-subheading {
  font-size: 1.5em;
  color: var(--green);
}

.signup-form {
  max-width: 400px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.form-label {
  font-family: "Cinzel", serif;
  font-size: 1.5em;
}

.form-input {
  width: 90%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.4em;
  display: block;
  margin: 0 auto;
}

.submit-button {
  background-color: var(--dark-blue);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  font-size: 1.1em;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
}

.submit-button:hover {
  background-color: var(--light-blue);
}

button {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.3rem;
  width: 100%;
}

button:hover {
  background-color: var(--light-blue);
}

.error-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
  font-size: 36px;
  color: #ff0000;
}

.error-container h2 {
  font-size: 24px;
  color: #333;
}

.error-container pre {
  text-align: left;
  margin-top: 20px;
  padding: 15px;
  background-color: #eee;
  border-radius: 4px;
}

.error-container code {
  font-size: 14px;
}

.footer {
  text-align: center;
  font-family: "Cinzel", serif;
}
.footer p {
  font-size: 0.7rem;
}

.link {
  color: var(--green);
  text-decoration: none;
}

#affirmation-container.breathe {
  animation: breathe 15s ease-in-out 1;
}

.red-heart {
  color: red;
}
.footer-tagline {
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  font-size: 0.4rem;
}
/* Flash Messages */

.flash-success {
  background-color: rgba(152, 255, 176, 0.7);
  border-color: #c3e6cb;
  color: #00811e;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 7px;
  font-size: 1.5rem;
  text-align: center;
}

.flash-error {
  background-color: rgba(255, 126, 137, 0.7);
  border-color: #f5c6cb;
  color: #a00a19;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 7px;
  font-size: 1.5rem;
  text-align: center;
}

@keyframes breathe {
  0%,
  100% {
    background-color: var(--white);
  }
  46.6% {
    background-color: var(--green);
  }
}

@keyframes backgroundFade {
  0% {
    background-color: var(--light-blue);
  }
  100% {
    background-color: var(--dark-blue);
  }
}

@media screen and (min-width: 768px) {
  .center-container {
    max-width: 800px;
    margin: auto;
  }

  .header,
  .control-container,
  .affirmation-header,
  #affirmation-container {
    max-width: 800px;
    margin: auto;
  }
}
